<%= form_with(model: activity) do |form| %>

  <%= render "error_display", activity: activity %>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-input" %>
  </div>

  <div>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :starts_at %>
    <%= form.hidden_field :ends_at %>
  </div>

  <div>
    <%= form.submit "Back", class: "btn" %>
    <%= form.submit "Next", class: "btn"  %>
  </div>

<% end %>
